/* @layer tailwind-base, primevue, tailwind-utilities; */
/* @layer theme, primevue, tailwindcss; */

@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));

/* Tailwind/Primevue overrides */
button.p-tab:focus {
    outline: none;
}

button.p-tab {
    border-radius: 0;
}

.p-datatable-header,
.p-tablist-tab-list {
    border-radius: .5rem .5rem 0 0;
}

.p-datatable-table-container,
.p-tabpanels {
    border-radius: 0 0 .5rem .5rem;
}